
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5;
    

}

.header{
    background-color: #FFFFFF;
    display: block;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000;

}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
  margin: 0;
}

a{
    text-decoration: none;
    color: #2E2F42;
    margin: 0;
    
}

ul,ol{
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
 


footer{
    background-color: #2E2F42;
}



.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;  
    box-shadow:
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
       
}

.header-line{
    display: flex;
    align-items: center;
    gap: 76px;
    width: 100%;
    box-sizing: border-box;
    
 }

.main-link{
    display: inline-block;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
    color: #2E2F42;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 24px 0;
    gap: 76px;
    

}

.web-link{
    color: #4D5AE5;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.17;
}

.navi{
     font-family: 'Roboto', sans-serif;
     display: flex;
     gap: 40px;
     max-width: 261px;
     
}

.navi .navi-link{
    display: inline-flex;   
    position: relative;
    padding: 24px 0; 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.navi-link.active{
    color: #404bbf;
}

.navi .navi-link:hover,
.navi .navi-link:focus{
    color: #404BBF;
   
}

.navi .navi-link::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 0;
    height: 4px;
    border-radius: 2px;
    background-color:#404BBF;
    color: #404BBF;
    
}

.navi .navi-link:hover::after,
.navi .navi-link.active::after{
    width: 100%;
    background-color: #404BBF;
    
}

.contacts{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: flex;
    gap: 40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
}

.mail-link{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link:hover,
.mail-link:focus{
    color: #404BBF;
    
}

.tel-link{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.tel-link:hover,
.tel-link:focus{
    color: #404BBF;
    
}



.main-section{
    background-color: #2E2F42;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)) ,url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;

}

main h1,
main h2 {
  margin-top: 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.hero{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    justify-content: center;
    align-items: center;
    gap: 48px; 
    margin: 0 auto;
    max-width: 496px;
     
    
    
}

.button-order{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    display: inline-flex;
    gap: 10px;
    border-radius: 4px;
    margin-left: 0;
    margin-right: 0;
    align-self: center;
    box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}

.button-order:hover,
.button-order:focus{
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features{
    padding-top: 120px;
    padding-bottom: 120px;

}

.features-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    
    
}

.features-icon{
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.feature-item{
    display: flex;
    width: 264px;
    text-align: left; 
    flex: 0 0 264px;
    flex-direction: column;
    gap: 8px;
    

}


.features-list{
    display: flex;               
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;                 
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap; 
    

}

.feature-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.feature-describe{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}



.team{
    width: 100%;                 
    background-color: #F4F4FD;   
    padding: 120px 0;
    font-family: "Roboto", sans-serif;
}

.team-content{
    padding: 32px 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px; 
    
}




.top-team{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin-bottom: 72px;

}

.team-list{
    display: flex;
    grid-template-columns: repeat(4, 1fr); 
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: nowrap;  
    justify-content: flex-start;
  
}



.team-member{
    flex: 0 0 264px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin: 0;   
    
}

.team-describe{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin: 0;
    

}

.team-photo{
    width: 100%;   
    height: 260px;  
    object-fit: cover;
    display: block;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link {
    width: 40px;
    height: 40px;
    margin-top: 8px;
    background-color: #4D5AE5;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus,
.social-link:hover{
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}

.portfolio{
    width: 100%;               
    background-color: #FFF;  
    padding: 120px 0;   
    row-gap: 48px ;
    column-gap: 24px;
    box-sizing: border-box;
}

.portfolio-image-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #4D5AE5;
    color: #F4F4FD;

    padding: 40px 32px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-content{
    padding: 32px 16px;
    width: 360px;
    border: 1px solid #E7E9FC;
    border-top: none;
    box-sizing: border-box;
    display: block;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-title,
.portfolio-describe {
  padding: 0;
  margin: 0;
}

.top-portfolio{
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-top: 0px;
    margin-bottom: 72px;

}



.portfolio-list{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 48px;
    grid-template-columns: repeat(3, 1fr); 
    column-gap: 24px;
    row-gap: 48px;       
    padding: 0;
    margin: 0;
    list-style: none;
    

}

.portfolio-item{
    flex: 0 0 360px; 
  
    display: flex;
    flex-direction: column;
    position: relative;        
    overflow: hidden;     
    background-color: #fff;    
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

   

}

.portfolio-item:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-item img {
    width: 360px;
    height: 300px;
    display: block;
    max-width: 360px;
    object-fit: cover; 
}



.portfolio-title{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: left;
    gap: 8px;
    
   
}

.portfolio-describe{
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
    padding: 0;
    text-align: left;
    
}

.footer{
    background-color: #2E2F42;   
    padding: 100px 0; 
    color: #F4F4FD;    
    font-family: 'Roboto', sans-serif;
    text-align: left;
    max-height: 312px;
    

}

.footer-container {
    display: flex;
    align-items:baseline;
    gap: 120px;
}

.footer-logo-block {
    max-width: 264px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}


.footer-social {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 208px;
    height: 80px;
    
    

}

.footer-social-title{
    display: flex;
    align-self: flex-start;
    text-align: left;
    padding-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.footer-social-list {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social-link {
    width: 40px;
    height: 40px;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;

    background-color: #4D5AE5;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}

.footer-social-icon {
    display: block;
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
    
}

.web-footer{
    display: flex;
    flex-direction: row;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio-footer{
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    color: #F4F4FD;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    max-width: 264px;
    
}

.footer-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;    
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    text-align: left;
    max-height: 112px;
    max-width: 264px;

}
